{% extends '../base.html' %}
{% block content %}
    <div class="row" >
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-2" style="text-align: center;font-size:24px">logo</div>
    <div class="col-md-5" style="text-align: center;">
             <div class="input-group">
                    <input type="text" class="form-control" placeholder="请输入小说名称">
                    <span class="input-group-addon btn btn-success">搜</span>
             </div>
    </div>

    <div class="col-md-3" style="text-align: center;font-size:16px;margin-top:9px">
        你好,{{ loginbean.nicheng }}&nbsp;
        <a href="#">新消息 <span class="badge">0</span></a>&nbsp;
        <a href="#">个人设置</a>&nbsp;
        <a href="/logout">注销</a>
    </div>
    <div class="col-md-1"></div>
    </div>

    <div class="row" >
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-2" style="font-size:16px;margin-top:9px;height:400px;">
        <table align="center" height="100%">
            <tr><td><a href="writerapplylist">作家申请</a></td></tr>
            <tr><td>作家管理</td></tr>
            <tr><td>作品管理</td></tr>
        </table>
    </div>
    <div class="col-md-8" style="text-align: center;">
        {% block main %}
        {% endblock %}
    </div>
    <div class="col-md-1"></div>
    </div>
{% endblock %}
